h1, .h1 {
    color: #fff;
}
h2.brand-tagline {
    color: #fff;
}
div.sidebar.pure-u-1.pure-u-med-1-4 {
     background: rgba(34, 34, 34, 0.94);
}
h2.post-title a {
    text-decoration: none;
    color: #777;
}
h2.post-title a:hover, a:focus {
    color: #5bc0de;
    text-decoration: none;
}
.pure-g [class *= "pure-u"] {
    font-family: Verdana, Arial, serif, sans-serif;
}